#images_controls
{
	margin-top: 40px;
}
#images_controls img
{
	margin-left: 10px;
	position: absolute;
}
#images_container
{
	width:100%;
	height:auto;
	display:inline-block;
	border:1px solid #CCC;
	margin-top: 10px;
	min-height: 120px;
}
.image_element
{
	width:100px;
	height:100px;
	padding:10px;
	position:relative;
	float:left;
}
.image_element_links
{
background-color: white;
width: 15px;
border: 1px solid #CCC;
float: right;
margin-right: 1px;
margin-left: 1px;
}
.image_element_links img
{
	margin-left: 3px;
}
.image_element_links_container
{
	position: absolute;
	top: 93px;
	width: 100px;
}
#paginator_container
{
	
	width:100%;
	height:50px;
	display:inline-block;
	border:1px solid #CCC;
}
#paginator_container ul 
{
	margin-top: 15px;
}
#paginator_container ul li
{
	list-style-type: none;
	float: left;
	padding: 5px;
}

.preview_after_upload_container
{
	width: 100%;
	height: auto;
	display: inline-block;
}
.preview_after_upload
{
	float: left;
	width: 200px;
	height: 334px;
	padding:5px;
}
.preview_after_upload img
{
	padding-bottom: 10px
}
.preview_after_upload span
{
	width: 200px;
	height: 20px;
	font-weight: bold;
	
}
.preview_after_upload input
{
	width: 193px;
	height: 20px;
}
.preview_after_upload textarea
{
	width: 193px;
	height: 50px;
}
#upload_ajax_loader
{
	position: absolute;
	margin-left: 10px;
	visibility: hidden;
}
#edit_window
{
	position: absolute;
	background-color: white;
	width: 200px;
	border: 4px solid #CCC;
	top: 515px;
	left: 496px;
	padding: 20px;
	visibility: hidden;
}

#edit_window span
{
	width: 200px;
	margin-top: 10px;
	display: inline-block;
	font-weight: bold;
}
#edit_window input
{
	width: 190px;
	margin-bottom: 16px
}
#edit_window textarea
{
	width: 190px;
}
#update_data_image_btn
{
	width: 44px;
	position: absolute;
	margin-top: 16px;
}
#update_data_image_btn input
{
	position: absolute;
	width: 200px;
}
#close_edit_window div
{
	background-image: url(/static/admin/img/inline-delete.png);
	width: 16px;
	height: 16px;
	background-position-x: 17px;
	position: absolute;
	top: 10px;
	left: 210px;
}