{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
<script>
function clickUpload()
{
	if(document.getElementById('zip_file').value == "")
	{
		return false;
	}
	
	document.getElementById('upload_ajax_loader').style.visibility = 'visible'
}
function checkIt(f)
{   
	if (f.elements['zip_file'].value=="")   
	{      
	     return false;   
	}   
	return true;
}
</script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "full_gallery/css/full_gallery.css" %}" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
{% endblock %}
{% endif %}
{% block content %}<div id="content-main">
<form enctype="multipart/form-data" method="post" action="" onSubmit="return checkIt(this);">{% csrf_token %}
<label>{% trans 'Choose a zip file to upload' %}: <input id="zip_file" type="file" name="zip_file" /></label>
<br />
<input type="submit" name="submit" id="upload_btn" value="{% trans 'Upload' %}" onclick="javascript:clickUpload()" style="float: left !important;" class="default"/><img id="upload_ajax_loader" width="20" height="20" src="/static/full_gallery/img/ajaxloader.gif"/>
</form>
</div>
{% endblock %}
